* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
font-family: "Montserrat", sans-serif;
}

body {
font-size: 16px;
color: #e8e0e0;
interpolate-size: allow-keywords;
display: flex;
align-items: center;
justify-content: center;
}



.semi-bold {
font-weight: 500;
font-size: 16px;
}

.icon img{
    width: 100%;
    height: 100%;
}

.text {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    }
    
    .text:hover{
        background-color: #56a2c7;
        color: black !important;
        padding: 5px;
    }

.CV {
width: 900px;
height: auto;
display: flex;
margin: 0 auto;
border-radius: 20px;
padding: 25px;
}

input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.CV .CV_left {
width: 320px;
background: #171e69;
padding: 25px;
border-radius: 20px;
}

.CV .CV_left .CV_profile {
width: 50%;
border-radius: 50%;
margin: 0 auto;
height: 130px;
outline: 2px solid #fff;
}

.CV .CV_left .CV_profile img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 50%;
}

.CV .CV_left .CV_content {
padding: 0 25px;
}

.CV .title {
margin-bottom: 20px;
}

.CV .CV_left .text {
color: #fff;
}

.CV .CV_left .regular {
color: #b1eaff;
}

.CV .CV_item {
padding: 25px 0;
border-bottom: 2px solid #8d820e;
}
.CV .CV_left ul li {
display: flex;
margin-bottom: 10px;
align-items: center;
}

.CV .CV_left ul li .data {
color: #c4ffb1;
}

.CV .CV_left .CV_skills ul li {
margin-bottom: 10px;
color: #b1eaff;
}

ul img{
    width: 20px !important;
    height: 20px !important;
    margin-right: 10px !important;
}


.CV .CV_left .CV_social .text {
color: #fff;
margin-bottom: 3px;
}

.CV .CV_right {
width: 600px;
background: #211a11;
padding: 25px;
border-radius: 20px;
margin-left: 5px;
}

.CV .CV_right .text {
color: #0bb5f4;
}

.CV .CV_right .CV_work ul,
.CV .CV_right .CV_education ul {
padding-left: 40px;
overflow: hidden;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.CV .CV_right ul li {
position: relative;
padding: 10px;
}

.CV .CV_right ul li .info {
margin-bottom: 20px;
}

.CV .CV_right ul li:last-child .info {
margin-bottom: 0;
}

button{
    font-size: 15px;
    padding: 8px 12px;
    background: #205dc0;
    border: none;
    cursor: pointer;
    color: #fff;
}

button:hover{
    opacity: 0.8;
}


.CV .CV_right ul li .date {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    }